table {
    max-width: 100%;
    border-collapse: collapse;
    text-align: left;
    margin: 20px;
}

th, tr, td {
    border: 1px solid black;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #c8c7c7;
    color: white;
}
h1 {
    text-align: center;
}
.list {
    justify-items: center;
    align-items: center;
}